<section class="section about-section" id="about">
  <div class="about-bg-wrapper">
    <div class="container about-container">
      <div class="about-content-wrapper">
        <div class="about-text-wrapper">
          <h2 class="section-title about-title">About the Game</h2>
          <picture>
            <source
              srcset="./img/about/about-img-desk.png"
              media="(min-width: 1440px)"
              width="330"
              height="262" />
            <source
              srcset="./img/about/about-img-mob.png"
              width="211"
              height="168" />
            <img
              class="about-img"
              src="./img/about/about-img-mob.png"
              alt="Screenshot of the game"
              width="211"
              height="168"
              loading="lazy"
          /></picture>
          <p class="about-text">
            3D Ball Catch up — Racing Ball challenges players to guide a rolling
            ball along narrow elevated tracks while avoiding obstacles and
            sudden gaps. Things get faster and faster, so you’ll need to stay
            super focused and react quickly. Each successful run improves player
            skill and unlocks new track variations. Sounds simple enough, but
            man, it gets crazy intense once you’re actually playing.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
