<section class="section features-section" id="features">
  <div class="features-bg-wrapper">
    <div class="container features-container">
      <div class="features-content-wrapper">
        <div class="features-text-wrapper">
          <h2 class="section-title features-title">Game Highlights</h2>
          <div class="features-img-wrapper">
            <picture>
              <source
                srcset="./img/features/features-img-desk.png"
                media="(min-width: 1440px)"
                width="412"
                height="518" />
              <source
                srcset="./img/features/features-img-mob.png"
                width="256"
                height="321" />
              <img
                class="features-img"
                src="./img/features/features-img-mob.png"
                alt="Screenshot of the game"
                width="256"
                height="321"
                loading="lazy"
            /></picture>
          </div>
          <ul class="features-list">
            <li class="features-list-item">
              <p class="features-item-text">Smooth 3D rolling physics</p>
            </li>
            <li class="features-list-item">
              <p class="features-item-text">Increasing speed progression</p>
            </li>
            <li class="features-list-item">
              <p class="features-item-text">Clean, responsive controls</p>
            </li>
            <li class="features-list-item">
              <p class="features-item-text">Competitive high-score challenge</p>
            </li>
            <li class="features-list-item">
              <p class="features-item-text">
                Minimalist but immersive environments
              </p>
            </li>
          </ul>
          <p class="features-text">
            We want the whole thing to feel fast, sleek, and all about that
            constant motion.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
