<section class="gameplay-section section" id="gameplay">
  <div class="gameplay-bg-wrapper">
    <div class="container gameplay-container">
      <h2 class="section-title gameplay-title">Levels</h2>
      <p class="gameplay-subtitle">
        Over <span class="gameplay-subtitle-span">1000</span> levels, and they
        don’t all play the same.
      </p>
      <p class="gameplay-text">
        <span class="gameplay-text-span">Skull Treasures Match 3 Puzzle</span>
        offers 1000+ levels designed to keep pushing your strategy. The first
        levels are pretty easy to get you used to things, but later on they
        really make you think about your moves. The best part is that the
        challenge doesn’t come only from difficulty — it comes from variety.
        You’ll keep encountering new tasks that force you to rethink your usual
        approach.
      </p>
      <div class="gameplay-swiper-container">
        <ul class="swiper-wrapper gameplay-swiper-wrapper">
          <li class="swiper-slide gameplay-slide">
            <img
              class="gameplay-img"
              src="./img/gameplay/gameplay-img1.png"
              alt="Screenshot of the game"
              width="281"
              height="160"
              loading="lazy"
            />
            <p class="gameplay-item-text">Clear specific tiles and blockers</p>
          </li>
          <li class="swiper-slide gameplay-slide">
            <img
              class="gameplay-img"
              src="./img/gameplay/gameplay-img2.png"
              alt="Screenshot of the game"
              width="281"
              height="160"
              loading="lazy"
            />
            <p class="gameplay-item-text">Reach targets with limited moves</p>
          </li>
          <li class="swiper-slide gameplay-slide">
            <img
              class="gameplay-img"
              src="./img/gameplay/gameplay-img3.png"
              alt="Screenshot of the game"
              width="281"
              height="160"
              loading="lazy"
            />
            <p class="gameplay-item-text">
              Build combos to trigger chain reactions
            </p>
          </li>
          <li class="swiper-slide gameplay-slide">
            <img
              class="gameplay-img"
              src="./img/gameplay/gameplay-img4.png"
              alt="Screenshot of the game"
              width="281"
              height="160"
              loading="lazy"
            />
            <p class="gameplay-item-text">
              Use boosters tactically instead of instantly
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
