<section class="gameplay-section section" id="gameplay">
  <div class="gameplay-bg-wrapper">
    <div class="container gameplay-container">
      <h2 class="section-title gameplay-title">Gameplay Mechanics</h2>
      <div class="gameplay-swiper-container">
        <ul class="swiper-wrapper gameplay-swiper-wrapper">
          <li class="swiper-slide gameplay-slide">
            <img
              class="gameplay-img"
              src="./img/gameplay/gameplay-img1.png"
              alt="Screenshot of the game"
              width="173"
              height="165"
              loading="lazy"
            />
            <p class="gameplay-item-text">
              Swipe left or right to control ball direction
            </p>
          </li>
          <li class="swiper-slide gameplay-slide">
            <img
              class="gameplay-img"
              src="./img/gameplay/gameplay-img2.png"
              alt="Screenshot of the game"
              width="173"
              height="165"
              loading="lazy"
            />
            <p class="gameplay-item-text">
              Dodge rotating and sliding obstacles
            </p>
          </li>
          <li class="swiper-slide gameplay-slide">
            <img
              class="gameplay-img"
              src="./img/gameplay/gameplay-img3.png"
              alt="Screenshot of the game"
              width="173"
              height="165"
              loading="lazy"
            />
            <p class="gameplay-item-text">Avoid falling off the track</p>
          </li>
          <li class="swiper-slide gameplay-slide">
            <img
              class="gameplay-img"
              src="./img/gameplay/gameplay-img4.png"
              alt="Screenshot of the game"
              width="173"
              height="165"
              loading="lazy"
            />
            <p class="gameplay-item-text">Survive increasing speed</p>
          </li>
          <li class="swiper-slide gameplay-slide">
            <img
              class="gameplay-img"
              src="./img/gameplay/gameplay-img5.png"
              alt="Screenshot of the game"
              width="173"
              height="165"
              loading="lazy"
            />
            <p class="gameplay-item-text">Aim for the highest distance score</p>
          </li>
          <li class="swiper-slide gameplay-slide">
            <img
              class="gameplay-img"
              src="./img/gameplay/gameplay-img6.png"
              alt="Screenshot of the game"
              width="173"
              height="165"
              loading="lazy"
            />
            <p class="gameplay-item-text">Advanced runs introduce curves</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
