<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <div class="hero-title-wrapper">
          <h1 class="hero-title">Screw</h1>
          <h1 class="hero-title">Puzzle</h1>
        </div>
        <div class="hero-btn-wrapper">
          <p class="hero-subtitle">
            Think first.<br />
            Unscrew smart
          </p>
          <a
            class="hero-btn"
            target="_blank"
            href="https://play.google.com/store/apps/details?id=com.skulltreasures.match3&hl=en&gl=us"
            rel="noopener noreferrer"
            aria-label="Download on Google Play"
          >
            <img
              class="hero-play-img"
              src="./img/hero/hero-play-img.png"
              alt="Google Play"
              width="243"
              height="70"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
