<section class="section works-section" id="works">
  <div class="container works-container">
    <h2 class="section-title works-title">How It Works</h2>
    <div class="works-content-wrapper">
      <picture>
        <source
          srcset="./img/works/works-img-desk.png"
          media="(min-width: 1440px)"
          width="1280"
          height="140" />
        <source
          srcset="./img/works/works-img-mob.png"
          width="335"
          height="704" />
        <img
          class="works-img"
          src="./img/works/works-img-mob.png"
          alt="Screenshot of the game"
          width="335"
          height="704"
          loading="lazy"
      /></picture>
    </div>
  </div>
</section>
